@import url('./input-volume/input-volume.css');

.footer__options {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 16px;
    border-inline-start: 1px solid #0A2E52;
    border-block: 1px solid #095BC9;
    background: linear-gradient(to right, #22B9E5 0 3%, rgba(20, 99, 46, 0) 10% 100%),
    linear-gradient(to bottom, #22B9E5 0 8%, #1286E2 30% 75%, #22B9E5 90% 100%);
}



.footer__options_date {}


.footer__options-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3px;
}

.footer__options_volume {
    background: url('../../../images/icons/volume_icon.ico') no-repeat center center;
    background-size: cover;
    min-block-size: 17px;
    aspect-ratio: 1;
    position: relative;

}

.footer__options_volume-muted {
    background: url('../../../images/icons/volume_icon_muted.ico') no-repeat center center;
    background-size: cover;
    min-block-size: 17px;
    aspect-ratio: 1;
}

.footer__options_security {
    background: url('../../../images/icons/security.ico') no-repeat center center;
    background-size: contain;
    min-block-size: 17px;
    aspect-ratio: 1;
}